.main {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 3rem;
  height: 100vh;
  font-family: var(--font-mono);
}

.navigation {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description {
  flex-direction: column;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin: 0px;
  padding: 1.3rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description > * {
  margin: 8px;
}

.code {
  margin: 12px;
  padding: 7px;
  border: 3px solid red;
  font-weight: 700;
  font-family: var(--font-mono);
}

.addLink {
  font-size: 14px;
  padding: 8px;
  margin: 8px;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 1.0rem 1.3rem;
  margin: 1.0rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.2);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 1s, border 250ms;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.8rem 0;
}

.centeredNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.8rem 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 80px;
}

.buttons input[type=button], .buttons input[type=submit] {
  border: none;
  background-color: rgb(223, 122, 122);
  color: rgb(46, 3, 3);
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  margin: 6px;
  padding: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center::before {
  /* background: var(--secondary-glow); */
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  /* background: var(--primary-glow); */
  width: 240px;
  height: 180px;
  z-index: -1;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.5);
    border: 1px solid rgba(var(--card-border-rgb), 0.6);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .addLink {
    width: 85vw;
  }
  .content {
    padding: 4rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}